

body{
    background-color: rgb(71, 96, 71);
    font-family: Arial, Helvetica, sans-serif;
}


.startingbox {
    width: 600px;
    background:rgb(212, 224, 202);
    position: absolute;
    top: 40%;
    left: 25%
}

section {
    margin: auto;
}

#questionsection {
    width: 500px;
    height: 500px;
    background-color: rgb(219, 140, 114);
    border-radius: 10px;
    box-shadow: 10% rgb(237, 240, 207);
}

.questiontext {
    font-size: 35px;
    padding: 10px;
    font-weight: bolder;
}

.choicebutton {
    padding: 20px;
    box-shadow: 5% rgb(237, 240, 207);
    border-radius: 20px;
    width: 200px;
    margin: 20px;
}

.deletes {
    display: none;
}

#buttonstoadvance {
    position: relative;
}